
<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <span class="h3">Lista de productos</span>
      <button class="btn btn-dark btn-lg float-right" routerLink="/create-productos" >Agregar</button>
      <table class="table mt-4">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Color</th>
            <th scope="col">Dimensiones</th>
            <th scope="col">Capacidad</th>
            <th scope="col">Modelo</th>
            <th scope="col">Material</th>
            <th scope="col">Calidad</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of productos" >
            <th>{{producto.id}}</th>
            <td>{{producto.color}}</td>
            <td>{{producto.dimension}}</td>
            <td>{{producto.capacidad}}</td>
            <td>{{producto.material}}</td>
            <td>{{producto.calidad}}</td>
            <td>{{producto.cantidad}}</td>
            <td>
              <button class="btn btn-warning" (click)="editarProducto(producto.id)"> Editar </button>
              <button class="btn btn-danger" style="margin-left: 7px;" (click)="eliminarProducto(producto.id)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
