<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
     <div class="card text-center mt-3"></div>
      <h4>Agregar producto</h4>
      <form class="mt-4" action="" >
        <div class="row">
          <div class="col">
            <input type="text" name="" id="" class="form-control mt-3" placeholder="Color">
          </div>
          <div class="col">
            <input type="text" name="" id="" class="form-control mt-3"  placeholder="Dimensiones">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="text" name="" id="" class="form-control mt-3"  placeholder="Capacidad">
          </div>
          <div class="col">
            <input type="text" name="" id="" class="form-control mt-3"  placeholder="Modelo">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="text" name="" id="" class="form-control mt-3"  placeholder="Material">
          </div>
          <div class="col">
            <input type="text" name="" id="" class="form-control mt-3"  placeholder="Calidad">
          </div>
          <div class="col">
            <input type="text" name="" id="" class="form-control mt-3"  placeholder="Cantidad">
          </div>
        </div>
        <div class="mt-3 text-center">
          <button type="text" class="btn btn-secondary btn-lg mr-3"  routerLink="/list-producto"> Volver </button>
          <button type="submit" class="btn btn-dark btn-lg">Agregar</button>
        </div>
      </form>
    </div>
  </div>
</div>
